/* NAVBAR PRINCIPAL */
.navbar-principal {
    background-color: #333;
    padding: 10px 0;
    width: 100%;
}

.navbar-principal__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-left: 500px;
}

.navbar-principal__item {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.navbar-principal__link {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.navbar-principal__link:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* NAVBAR SECUNDARIA */
.navbar-secundaria {
    background-color: #B0B0B0;
    padding: 10px 0;
    width: 100%;
}

.navbar-secundaria__menu {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-principal {
    background-color: gray;
    padding: 20px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-principal__link {
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-principal__link:hover {
    color: #f39c12; /* Cambia según tu color de hover preferido */
  }

  .icon {
    width: 32px;
    height: 32px;
    transition: transform 0.3s;
  }
  
  .footer-principal__link:hover .icon {
    transform: scale(1.2);
  }
  
  

/* RESPONSIVE */
@media (max-width: 768px) {
    .navbar-principal__menu {
        flex-direction: column;
    }

    .navbar-principal__item {
        width: 100%;
    }

    .navbar-principal__link {
        width: 100%;
    }
}
