.navbar-principal {
    background-color: #333;
    padding: 20px 0;
    width: 100%;
}

.navbar-principal__menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-left: 800px;
}

.navbar-principal__item {
    flex: 1;
    text-align: center;
    padding: 5px;
    font-size: 3em;
}

.navbar-principal__link {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    font-size: 1.2em;
}

.navbar-principal__link:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* RESPONSIVE */
@media (max-width: 1265px) {
.container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

  .navbar-principal__menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-left: 0;
  }
  
  .navbar-principal__item {
    padding: 5px;
  }
}

/* Versión para pantallas muy grandes */
@media (min-width: 1600px) {
  .navbar-principal__menu {
    max-width: 1400px;
  }
}
@media (max-width: 768px) {
  .navbar-principal__menu {
    flex-direction: column;
    align-items: center;
  }
  
  .navbar-principal__item {
    padding: 10px;
    font-size: 2em;
  }
  
  .navbar-principal__link {
    font-size: 1.5em;
  }
}


