.footer {
    background: #B0B0B0;
    position: relative;
    margin-top: 50px;
}

.footer__content {
    color: white;

}

.footer__social {
    padding: 15px 30px;

}

.footer__social-heading {
    

} 

.footer__social-icon {
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
  }

.footer__list {
  display: flex;
  padding: 0;

}

.footer__list-item {
  padding-right: 60px;
    list-style: none;

}

.footer__social-link {
  color: white;
  text-decoration: none;

}
  /* RESPONSIVE */
@media (max-width: 768px) {
  .social-media {
      margin-left: 0;
      flex-direction: row;
  }

  .footer-principal__link{
      display: flex;
      place-items: center;
      width: 100%;
  }

  .footer-principal__link {
      width: 100%;
  }
  
}