.presentacion-inicio {
  text-align: left; 
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  color: #333;
  max-width: 800px;
  margin: 116px auto;
}

.presentacion-inicio h1 {
  text-align: left; 
  font-size: 2.2em;
  color: #333; 
  margin-bottom: 20px;
  font-weight: 600;
}

.texto {
  text-align: left;
  font-size: 1.1em;
  line-height: 1.7;
  margin-bottom: 15px;
  max-width: 100%;
}

.link {
  margin: 200px;
  text-align: center; 
}

.link a {
  text-decoration: none;
  color: #0078d7;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 1.6em;
}

.link a:hover {
  text-decoration: none;
  color: white;
  background-color: #0078d7;
  box-shadow: 0 4px 8px rgba(0, 120, 215, 0.2);
}


@media (max-width: 768px) {
  .presentacion-inicio {
    padding: 30px 15px;
    margin: 20px 15px;
    border-radius: 8px;
  }
  
  .presentacion-inicio h1 {
    font-size: 2.2em;
  }
  
  .texto {
    font-size: 1.1em;
    padding: 0 10px;
  }
  
  .link {
    margin-top: 30px;
  }
}